/* #post_list_form dd:nth-child(5) input{
    display: none;
} */

.news_contents_left_top{
    display: flex;
    align-items: center;
}
.news_contents_left_top dd:nth-child(2){
    font-weight:900 !important;
    color:white;
    background-color:#0071a3;
    border-radius:10px;
    padding:1px 5px;
    max-width:65%;
    font-size: 12px !important;
}
.news_contents_bottom{
    line-height: 4.5rem;
}
.news_contents_bottom_sp{
    display: none !important;
}
.news_contents_detail{
    display: none;
}
.news_contents_detail_sp{
    display: none;
}

@media screen and (max-width:640px) {
    /* .news_contents_left_top{
        display: block;
    } */
    .news_contents_left_top dd:nth-child(1){
        font-size: 1.2rem;
    }
    .news_contents_left_top dd:nth-child(2){
        /* margin-top: 5px; */
        font-size: 0.8rem !important;
        max-width: none;
    }
    .news_contents_bottom{
        display: none !important;
    }
    .news_contents_bottom_sp{
        /* display: -webkit-box !important; */
        display: block !important;
        font-size: 1.4rem !important;
        line-height: 2rem;
    }
    .fs_36_sp{
        font-size: 3.6rem !important;
        text-align: center;
    }
    .news_contents_img{
        margin: 0 15px 0 0  !important;
    }
}